// Resetiamos los valores por defecto
// que le añaden los navegadores
@import "components/variables";
@import "components/reset";
@import "components/header";

.container {
	max-width: 400px;
	margin-top: 6rem;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;


	box-shadow: 0 0 0 10px rgba(0,0,0,.1);
}

.main-header {
	padding: 1rem;
	margin-bottom: .5rem;
	text-align: center;
}

.control-form {
	position: relative;
	margin: 1rem 0;
	padding: .2rem;
	display: flex;
	justify-content: center;
	// background-color: aqua;
}

.label-form {
	position: absolute;
	left: 2rem;
	align-self: center;
}

.input-form {
	position: relative;
	right: -2.9rem;
	width: 12rem;
	padding: .6rem 1px;
	border: none;
	border-bottom: 1px solid #ccc;

	&:focus {
		border-bottom-color: lighten(#5F17D2, 10);
	}
}

.wrapper-button {
	margin-top: 1rem;
	padding: 1rem;
	display: flex;
	justify-content: center;
}

.btn {
	padding: .7rem 2rem;
	border: 1px solid #ccc;
	border-radius: .4rem;
}

.btn-primary {
	background-color: lighten(#5F17D2, 10);
	color: #fff;
}