<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Titulo de la página
    //- Custom CSS
    link(rel="stylesheet", href="/css/styles.css")
  body
  //- Cabecera de la página
  header.header
    h1.title-header Título Página Web
  block content
  //- script(src="")